<p id="notice"><%= notice %></p>

<%= link_to 'Back to Customer', customers_path(@customer) %>
<%#= link_to 'New Site', new_site_path %>
<br>

<div>
<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th> 
      <th>email</th>
      <th>Customer ID</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <%# if current_user.admin? %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%#= @user.customer_id %></td>
      </tr>
    <%# end %>
    <% end %>
  </tbody>
</table>
</div>